    html,body { height:100%; margin:0; font-family: sans-serif; color:#fff; }
    
    #canvas-container { width:100%; height:100vh; display:flex; align-items:center; justify-content:center; }
    
    #uitop {
      position: absolute;  z-index:10; bottom: 220px;
      display:flex; gap:8px; flex-direction:column;
    }
    
    button { padding:10px 14px; cursor:pointer; font-weight:600; 
    background-color: rgba(255, 255, 255, 0.17);
    color: #fff;
    backdrop-filter:saturate(1.2) blur(6px);
    }

    p {
        color: #fff;
    }

    select { padding:8px; }

     #uibottom {
      position: absolute; bottom: 170px; z-index:10;
      display:flex; gap:8px; flex-direction:column;

    }

@media (max-width: 480px) {
    #uitop {
        bottom: 150px;
        gap: 6px;
    }
    #uibottom {
        bottom: 90px;
        gap: 6px;
    }
    button {
        padding: 8px 12px;
        font-size: 14px;
    }
    div[style] {
        font-size: 12px;
        padding: 15px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    #uitop {
        bottom: 200px;
        gap: 7px;
    }
    #uibottom {
        bottom: 150px;
        gap: 7px;
    }
    button {
        padding: 9px 13px;
        font-size: 15px;
    }
    div[style] {
        font-size: 13px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .intro {
        position: absolute;
        top: 0;
        margin: 10px 0;     
    }
}

